// .hero {
//     background-color: rgb(253, 249, 249);
//     border: limegreen 5px solid;
//     height: 1500px;
//     padding: 10px;
// }

// .main-container {
//     margin-top: 200px;
//     border: blue 5px solid;
//     padding: 10px;
// }

// .splash-img {
//     border: limegreen 5px solid;
// }

// .head-img {
//     // margin-top: 100px;
//     border: limegreen 5px solid;
// }

// h1 {
//     color: rgb(0, 0, 0);
//     // text-align: center;
//     margin-top: 100px;
// }

.hero {
    background-color: rgb(197, 83, 83);
    border: limegreen 5px solid;
    height: 900px;
    padding: 10px;
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-gap: 30px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  
  .splash-container {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: blue 5px solid;
    padding: 10px;
  }

  .face-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: blue 5px solid;
    padding: 10px;
  }
  
  .splash-img,
  .face-img {
    border: limegreen 5px solid;
    width: 100%; /* Adjust the width as needed */
    // height: auto; /* Ensure the aspect ratio is maintained */
    height: 100%;
    flex: 1;
    margin: 10px;
  }

  .face-img > img {
    // border: limegreen 5px solid;
    width: 100%; /* Adjust the width as needed */
    // height: auto; /* Ensure the aspect ratio is maintained */
    height: 100%;
    object-fit: cover;
    flex: 0 1 auto;
    // margin: 10px;
  }

  
  h1 {
    color: rgb(0, 0, 0);
    margin-top: 100px;
  }
  
  .fa {
    font-size: 100px;
    color: rgb(217, 191, 191);
    transition: transform 0.2s ease-in-out;
  }

  .fa:hover {
    color: rgb(238, 228, 36);
    cursor: pointer;
  }

  .bigger {
    transform: scale(1.3)
  }